<nav th:fragment="navbarFragment" class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://velog.velcdn.com/images/jsr3643/post/f2aee5c5-f557-4c45-bee9-c8d9367a08be/image.jpg" alt="" width="200" height="200">
    </a>
    <div class="container d-inline w-50 border border-success border-3 rounded-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 p-2 h5 fw-bold">
                <li class="nav-item px-5">
                    <a class="nav-link" href="#">예약하기</a>
                </li>
                <li class="nav-item px-5">
                    <a class="nav-link" href="#">학원조회</a>
                </li>
                <li class="nav-item px-5">
                    <a class="nav-link" href="#">게시판</a>
                </li>
                <li class="nav-item px-5">
                    <a class="nav-link" href="#">마이</a>
                </li>
            </ul>
        </div>
    </div>
</nav>